# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
_protected/vendor

# composer itself is not needed
#composer.phar

_protected/runtime

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#
*.log
*.data

#Starting page is not needed at the moment,
#we don't change it and debug has to be turned off on azure
index.php

#Removed for security purposes
_protected/config/db.php

# ignore runtime stuff, we don't need it in VCS
_protected/runtime
